/*Header and footer*/
header {
    width: 100%;
     width: 100%;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
}
.topnav {
    background-color: #00b2ca;
    width: 100%;
    overflow: hidden;
}

.topnav a {
  float: left;
  color: #fefefa;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ce96fe;
}

.topnav a.active {
  background-color: #ff8fcf;
}

footer {
    text-align: center;
    font-size: 0.75em;
    padding-top: 50px;
    font-weight: 200;
    clear: both;
    background-color: #ce96fe;
    padding-bottom: 20px;

}


/*Header and footer*/
/*Main*/
body {
    background-color: #fefefa;
    color: black;
    font-family: 'Nunito', sans-serif;
}

a {
    text-decoration: none;
}

.p-icon {
    margin-left: 20px ;
    margin-right: 20px ;
}

.about {
    text-align: center;
}

.pop {
    text-align: center;
}
/*pictures*/
.column {
  float: left;
  width: 20%;
  padding: 5px;
}

.column2 {
  float: left;
  width: 33.33%%;
  padding: 5px;
}

.photo {
    width: 400px;
    margin-left: 100px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.row2::after {
  content: "";
  clear: both;
  display: table;
}

.splash-img {
    width: 100%;
    display: block;
    margin-left: 90px;
}

.icon {
    width: auto;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    border-radius: 50%;
}

.icon:hover {
  transform: scale(1.5); 
}
/*Products*/
.card button {
    border: none;
    outline: 0;
    padding: 20px;
    color: #141414;
    background-color: #ce96fe;
    text-align: center;
    width: 100%;
    font-size: 18px; 
}
.card,
p {
    margin-bottom: 30px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 50px;
    text-align: center;
    font-family: arial;
}
.nice-border {
     border: solid 2px #00b2ca;
}

.topic-main {
    margin-left: 10px;
    margin-bottom: 20px;
}

.underline {
    text-decoration: underline;
}

.product-img {
    width:100%;
    border-bottom: solid 2px #00b2ca;
}

/*media queries*/
@media screen and (min-width: 480px) {
    
    footer {
       background-color: #fefefa;
        text-align: center;
    }
    
    .photo {
        margin-left: auto;
    }
    
    .splash-img {
        visibility: hidden;
    }
}

@media screen and (min-width: 550px) {
    .photo {
        margin-left: 55px;
    }
    
    .splash-img {
        visibility: hidden;
    }
    
    .pop {
       padding-top: 0; 
       margin-top: 0;
    }
    
}

@media screen and (min-width: 660px) {
   .splash-img {
        margin-left: 25%;
    } 
    .nice-border {
     border: none;
    }
    footer {
        background-color: #ce96fe;
    }
    .photo {
        margin-left: 25%;
    }
    
    .splash-img {
        visibility: visible;
    }
}

@media screen and (min-width: 840px) {
    .splash-img {
        margin-left: 25%;
    } 
    .photo {
        margin-left: 50%;
    }
    .nice-border {
     border: solid 2px #00b2ca;
}
}