/*Header and footer*/
header {
    width: 100%;
     width: 100%;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
}
.topnav {
    background-color: #c1bbdd;
    width: 100%;
    overflow: hidden;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #dabfde;
}

.topnav a.active {
  background-color: #ffdcf4;
  color: white;
}

.footer {
    background-color: #dabfde;
    text-align: center;
    font-size: 0.75em;
    padding: 20px 20px;
    font-weight: 200;
    clear: both;
}
/*Header and footer*/
/*Main*/
body {
    background-color: #fff8ef;
    color: black;
}

a {
    text-decoration: none;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 600px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.box{
    margin-bottom: 20px;
    padding-bottom: 20px;
}
/*Products*/
.card button {
    border: none;
    outline: 0;
    padding: 20px;
    color: white;
    background-color: #dabfde;
    text-align: center;
    width: 100%;
    font-size: 18px;  
}
.card,
p {
    margin-bottom: 20px;
}
.topic-main {
    margin-left: 5px;
    margin-bottom: 20px;
}
/*Contact*/
.contact-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%; 
    border-radius: 50%;
}

.contact-photo:hover {
     transform: scale(1.20);
}